#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules (sorted alphabetically)
#
.*
*.a
*.bin
*.bz2
*.c.[012]*.*
*.dtb
*.dtb.S
*.dwo
*.elf
*.gcno
*.gz
*.i
*.ko
*.ll
*.lst
*.lz4
*.lzma
*.lzo
*.mod.c
*.o
*.o.*
*.order
*.patch
*.s
*.so
*.so.dbg
*.su
*.symtypes
*.tar
*.xz
Module.symvers
modules.builtin

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinux.32
/vmlinux-gdb.py
/vmlinuz
/System.map
/Module.markers

#
# RPM spec file (make rpm-pkg)
#
/*.spec

#
# Debian directory (make deb-pkg)
#
/debian/

#
# tar directory (make tar*-pkg)
#
/tar-install/

#
# git files that we don't want to ignore even if they are dot-files
#
!.gitignore
!.mailmap
!.cocciconfig

#
# Generated include files
#
include/config
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

# id-utils files
ID

*.orig
*~
\#*#

#
# Leavings from module signing
#
extra_certificates
signing_key.pem
signing_key.priv
signing_key.x509
x509.genkey

# Kconfig presets
all.config

# Kdevelop4
*.kdev4

# fetched Android config fragments
kernel/configs/android-*.cfg

# samsung
*.dtbo
*.reverse.dts
__pycache__/
*.pyc

# temp defconfigs generated by script
arch/arm64/configs/tmp_*defconfig

# Outputs by build script
tools/make_bin/package/boot.img
tools/make_bin/package/fresh_core.prop
FreshCore-*.zip
tools/make/*.img
tools/make/package/*.img
tools/make/package/*.prop
tools/make/package/Image
arch/arm64/boot/dtb*.img
Mint*.zip
usr/magisk/backup_magisk

# For initramfs
usr/gen_init_cpio
usr/initramfs_data.cpio

# VDSO
arch/arm64/kernel/vdso/vdso.lds
arch/arm64/kernel/vmlinux.lds

# Firmware files
firmware/coreriver/tc305k_a50ser.fw
firmware/exynos9610_acpm_fvp.fw
firmware/exynos9610_acpm_tmu.fw
firmware/sensorhub/shub_bl.fw
firmware/sensorhub/shub_exynos9610_a50.fw
firmware/tsp_melfas/mss100_a50.fw
firmware/tsp_melfas/mss100_a50s.fw
firmware/tsp_melfas/mss100_a51.fw
firmware/tsp_melfas/mss100_m30s.fw

# Generated firmware files
firmware/*.gen.S
firmware/*/*.gen.S

# Compiled scripts
crypto/rsaprivkey-asn1.c
crypto/rsaprivkey-asn1.h
crypto/rsapubkey-asn1.c
crypto/rsapubkey-asn1.h
crypto/asymmetric_keys/x509-asn1.c
crypto/asymmetric_keys/x509-asn1.h
crypto/asymmetric_keys/x509_akid-asn1.c
crypto/asymmetric_keys/x509_akid-asn1.h
security/selinux/av_permissions.h
security/selinux/flask.h
scripts/asn1_compiler
scripts/basic/bin2c
scripts/basic/fixdep
scripts/dtc/dtc
scripts/dtc/dtc-lexer.lex.c
scripts/dtc/dtc-parser.tab.c
scripts/dtc/dtc-parser.tab.h
scripts/genksyms/genksyms
scripts/genksyms/lex.lex.c
scripts/genksyms/parse.tab.c
scripts/genksyms/parse.tab.h
scripts/kallsyms
scripts/kconfig/conf
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
scripts/mod/devicetable-offsets.h
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/selinux/genheaders/genheaders
scripts/selinux/mdp/mdp
scripts/sortextable

# allow .github - for actions
!.github

# working on Windows
desktop.ini

# local toolchain
toolchain/
toolchain/*

# Additional files generated by compile
lib/lib.a.symversions
arch/arm64/lib/lib.a.symversions
arch/arm/vdso/vdsomunge
kernel/config_data.h
