# Copyright (C) 2021 John Vincent
# This file is part of the Fresh Project <https://github.com/FreshROMs>.
#
# This is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with other components of the Fresh Project.  If not, see <http://www.gnu.org/licenses/>.

# Workaround on broken RAM Plus support on the latest firmware
on boot
    chown root system /sys/block/zram0/writeback_limit_enable
    chmod 0664 /sys/block/zram0/writeback_limit_enable

on load_persist_props_action
   setprop persist.sys.zram.daily_quota_remain ${ro.sys.kernelmemory.nandswap.daily_quota}
   setprop sys.sysctl.zram_balance_ratio ${ro.nandswap.lru_ratio}
