#
# sensor drivers configuration
#

config SENSORS_SSP_LIGHT_TMD3725
	tristate "Sensors ssp light tmd3725"
	default n
	depends on SPI
	help
	  light tmd3725 file for factory test in ssp driver.
          If you say yes here you get light tmd3725 support for
	  factory test.
	  To compile this driver as a module, choose M here: the
	  module will be called ssp.

config SENSORS_SSP_LIGHT_TMD3700
	tristate "Sensors ssp light tmd3700"
	default n
	depends on SPI
	help
	  light tmd3700 file for factory test in ssp driver.
          If you say yes here you get light tmd3700 support for
	  factory test.
	  To compile this driver as a module, choose M here: the
	  module will be called ssp.

config SENSORS_SSP_LIGHT_TCS3701
	tristate "Sensors ssp light tcs3701"
	default n
	depends on SPI
	help
	  light tcs3701 file for factory test in ssp driver.
          If you say yes here you get light tcs3701 support for
	  factory test.
	  To compile this driver as a module, choose M here: the
	  module will be called ssp.

config SENSORS_SSP_LIGHT_VEML3328
	tristate "Sensors ssp light veml3328"
	default n
	depends on SPI
	help
	  light veml3328 file for factory test in ssp driver.
          If you say yes here you get light veml3328 support for
	  factory test.
	  To compile this driver as a module, choose M here: the
	  module will be called ssp.	  