config MINT
	def_bool y
	help
	 This is a Mint kernel build. Enabled by default
	 for Mint Kernel trees.

config MINT_SESL
	depends on MINT
	bool "One UI support"
	default n
	help
		Build Mint Kernel components for One UI support

config MINT_AOSP
	depends on MINT
	bool "AOSP support"
	default n
	help
		Build Mint Kernel components for AOSP support
