#
# sensor drivers configuration
#

config SENSORS_SSP_BAROMETER_LPS22H
	tristate "Sensors ssp barometer lps22h"
	default n
	depends on SPI
	help
	  barometer lps22h file for factory test in ssp driver.
          If you say yes here you get barometer lps22h support for
	  factory test.
	  To compile this driver as a module, choose M here: the
	  module will be called ssp.

config SENSORS_SSP_BAROMETER_LPS25H
	tristate "Sensors ssp barometer lps25h"
	default n
	depends on SPI
	help
	  barometer lps25h file for factory test in ssp driver.
          If you say yes here you get barometer lps25h support for
	  factory test.
	  To compile this driver as a module, choose M here: the
	  module will be called ssp.