
# Pageboostd
on property:sys.boot_completed=1
	start pageboostd

service pageboostd /system/bin/pageboostd
	class main
	user system    
	group system mount radio net_bt sdcard_rw shell media media_rw
	socket pageboostd seqpacket 0660 system system
	disabled
