#
# Graphics support
#

#
# ARM GPU Configuration
#
CONFIG_MALI_DDK_VERSION=y
# CONFIG_MALI_BIFROST_R16P0 is not set
# CONFIG_MALI_BIFROST_R19P0_Q is not set
# CONFIG_MALI_BIFROST_R25P1_R is not set
CONFIG_MALI_BIFROST_R26P0_R=y
# CONFIG_MALI_BIFROST_OLD is not set
CONFIG_MALI_MIDGARD=y
CONFIG_MALI_GATOR_SUPPORT=y
# CONFIG_MALI_MIDGARD_DVFS is not set
# CONFIG_MALI_MIDGARD_ENABLE_TRACE is not set
# CONFIG_MALI_DEVFREQ is not set
# CONFIG_MALI_DMA_FENCE is not set
CONFIG_MALI_PLATFORM_THIRDPARTY=y
CONFIG_MALI_PLATFORM_THIRDPARTY_NAME="exynos"
CONFIG_MALI_EXPERT=y
# CONFIG_MALI_CORESTACK is not set
# CONFIG_MALI_DEBUG is not set
CONFIG_MALI_FENCE_DEBUG=y
# CONFIG_MALI_NO_MALI is not set
# CONFIG_MALI_SYSTEM_TRACE is not set
# CONFIG_MALI_2MB_ALLOC is not set
# CONFIG_MALI_PWRSOFT_765 is not set
# CONFIG_MALI_JOB_DUMP is not set
# CONFIG_MALI_PRFCNT_SET_SECONDARY is not set
CONFIG_EXYNOS_SOC_NAME="9610"
CONFIG_MALI_DVFS=y
CONFIG_MALI_RT_PM=y
CONFIG_MALI_EXYNOS_TRACE=y
CONFIG_MALI_DEBUG_SYS=y
CONFIG_MALI_SEC_CL_BOOST=y
CONFIG_MALI_PM_QOS=y
CONFIG_MALI_DEBUG_KERNEL_SYSFS=y
# CONFIG_MALI_SEC_JOB_STATUS_CHECK is not set
# CONFIG_MALI_SUSTAINABLE_OPT is not set
CONFIG_MALI_KUTF=m
CONFIG_MALI_REAL_HW=y
# CONFIG_MALI_MEMORY_FULLY_BACKED is not set
# CONFIG_MALI_DMA_BUF_MAP_ON_DEMAND is not set
# CONFIG_MALI_DMA_BUF_LEGACY_COMPAT is not set
# CONFIG_MALI_SEC_VK_BOOST is not set
# CONFIG_MALI_ARBITER_SUPPORT is not set
# CONFIG_MALI_HW_ERRATA_1485982_NOT_AFFECTED is not set
# CONFIG_MALI_HW_ERRATA_1485982_USE_CLOCK_ALTERNATIVE is not set
# CONFIG_MALI_GEM5_BUILD is not set
# CONFIG_MALI_PRFCNT_SET_SECONDARY_VIA_DEBUG_FS is not set
# CONFIG_MALI_GPU_PM_QOS is not set
# CONFIG_MALI_FTRACE_FREQ is not set
# CONFIG_MALI_EXYNOS_SECURE_RENDERING_LEGACY is not set
# CONFIG_MALI_EXYNOS_SECURE_RENDERING_ARM is not set
CONFIG_MALI_EXYNOS_SECURE_RENDERING_UNSUPPORTED=y
# CONFIG_DRM is not set
