# Magisk pre-root
CONFIG_INITRAMFS_SKIP=y
# CONFIG_INITRAMFS_SOURCE is not set
# CONFIG_INITRAMFS_FORCE is not set
# CONFIG_INITRAMFS_ROOT_UID is not set
# CONFIG_INITRAMFS_ROOT_GID is not set
# CONFIG_INITRAMFS_COMPRESSION_NONE is not set
# CONFIG_INITRAMFS_COMPRESSION_GZIP is not set
# CONFIG_INITRAMFS_COMPRESSION_BZIP2 is not set
# CONFIG_INITRAMFS_COMPRESSION_LZMA is not set
# CONFIG_INITRAMFS_COMPRESSION_XZ is not set
# CONFIG_INITRAMFS_COMPRESSION_LZO is not set
# CONFIG_INITRAMFS_COMPRESSION_LZ4 is not set
# CONFIG_INITRAMFS_COMPRESSION is not set