#
# Graphics support
#

#
# ARM GPU Configuration
#
CONFIG_MALI_DDK_VERSION=y
# CONFIG_MALI_BIFROST_R16P0 is not set
# CONFIG_MALI_BIFROST_OLD is not set
# CONFIG_MALI_BIFROST_R19P0_Q is not set
# CONFIG_MALI_BIFROST_R25P1_R is not set
# CONFIG_MALI_BIFROST_R26P0_R is not set
# CONFIG_MALI_BIFROST_R32P1 is not set
CONFIG_MALI_BIFROST_R38P1=y
CONFIG_MALI_MIDGARD=y
CONFIG_MALI_GATOR_SUPPORT=y
# CONFIG_MALI_MIDGARD_DVFS is not set
CONFIG_MALI_MIDGARD_ENABLE_TRACE=y
# CONFIG_MALI_DEVFREQ is not set
# CONFIG_MALI_DMA_FENCE is not set
CONFIG_MALI_EXPERT=y
# CONFIG_MALI_CORESTACK is not set
# CONFIG_MALI_DEBUG is not set
# CONFIG_MALI_FENCE_DEBUG is not set
# CONFIG_MALI_NO_MALI is not set
# CONFIG_MALI_SYSTEM_TRACE is not set
# CONFIG_MALI_2MB_ALLOC is not set
# CONFIG_MALI_PWRSOFT_765 is not set
# CONFIG_MALI_JOB_DUMP is not set
# CONFIG_MALI_PRFCNT_SET_SECONDARY is not set
CONFIG_EXYNOS_SOC_NAME="9610"
CONFIG_MALI_DVFS=y
CONFIG_MALI_DEBUG_SYS=y
CONFIG_MALI_DEBUG_KERNEL_SYSFS=y
CONFIG_MALI_REAL_HW=y
# CONFIG_MALI_MEMORY_FULLY_BACKED is not set
# CONFIG_MALI_DMA_BUF_MAP_ON_DEMAND is not set
# CONFIG_MALI_DMA_BUF_LEGACY_COMPAT is not set
# CONFIG_MALI_ARBITER_SUPPORT is not set
# CONFIG_MALI_HW_ERRATA_1485982_NOT_AFFECTED is not set
# CONFIG_MALI_HW_ERRATA_1485982_USE_CLOCK_ALTERNATIVE is not set
# CONFIG_MALI_GEM5_BUILD is not set
# CONFIG_MALI_EXYNOS_SECURE_RENDERING_LEGACY is not set
# CONFIG_MALI_EXYNOS_SECURE_RENDERING_ARM is not set
CONFIG_MALI_PLATFORM_NAME="exynos"

#
# Platform specific options
#
CONFIG_MALI_EXYNOS_CLOCK=y
CONFIG_MALI_EXYNOS_DVFS=y
CONFIG_MALI_EXYNOS_PM=y
CONFIG_MALI_EXYNOS_RTPM=y
# CONFIG_MALI_EXYNOS_IFPO is not set
CONFIG_MALI_EXYNOS_QOS=y
CONFIG_MALI_EXYNOS_THERMAL=y
CONFIG_MALI_EXYNOS_BTS_MO=y
CONFIG_MALI_EXYNOS_DEBUG=y
CONFIG_MALI_EXYNOS_DEVICETREE=y
# CONFIG_MALI_EXYNOS_LLC is not set
CONFIG_MALI_EXYNOS_CL_BOOST=y
# CONFIG_MALI_NOTIFY_UTILISATION is not set
# CONFIG_MALI_TSG is not set
# CONFIG_MALI_EXYNOS_SECURE_SMC_NOTIFY_GPU is not set
# CONFIG_MALI_EXYNOS_WAKEUP_CLOCK_WA is not set
# CONFIG_MALI_EXYNOS_BLOCK_RPM_WHILE_SUSPEND_RESUME is not set
# CONFIG_MALI_SEC_G3D_PEAK_NOTI is not set
# CONFIG_MALI_EXYNOS_INTERACTIVE_BOOST is not set
# CONFIG_MALI_EXYNOS_UNIT_TESTS is not set
CONFIG_MALI_EXYNOS_DEBUG_FAULT_DUMP=y
CONFIG_MALI_PRFCNT_SET_PRIMARY=y
# CONFIG_MALI_PRFCNT_SET_TERTIARY is not set
# CONFIG_MALI_PRFCNT_SET_SELECT_VIA_DEBUG_FS is not set
# CONFIG_MALI_ARBITRATION is not set

#
# Platform specific options
#

#
# Platform options
#

#
# Debug options
#

#
# Instrumentation options
#

#
# Workarounds
#
# CONFIG_DRM is not set
