# Mint kernel configuration
CONFIG_MINT=y
CONFIG_MINT_SESL=y

# SCSC WLAN options
CONFIG_SCSC_WLBTD=y
CONFIG_SCSC_WRITE_INFO_FILE_WLBTD=y
CONFIG_SCSC_WLAN_MAC_ADDRESS_FILENAME="/efs/wifi/.mac.info"
CONFIG_SCSC_WLAN_MAX_INTERFACES=3
CONFIG_SCSC_AP_INTERFACE_NAME="swlan0"

# Samsung MTP
CONFIG_USB_ANDROID_SAMSUNG_MTP=y

# Knox Network Context Module (NCM)
CONFIG_KNOX_NCM=y
