# File-based Task Integrity Verifier (FIVE)
CONFIG_FIVE=y
# CONFIG_FIVE_GKI_10 is not set
# CONFIG_FIVE_GKI_20 is not set
# CONFIG_FIVE_DEBUG is not set
CONFIG_FIVE_CERT_USER="x509_five_user.der"
CONFIG_FIVE_DEFAULT_HASH_SHA1=y
# CONFIG_FIVE_DEFAULT_HASH_SHA256 is not set
# CONFIG_FIVE_DEFAULT_HASH_SHA512 is not set
CONFIG_FIVE_DEFAULT_HASH="sha1"

CONFIG_FIVE_TEE_DRIVER=y
# CONFIG_FIVE_USE_EMULATOR is not set
CONFIG_FIVE_USE_TZDEV=y
# CONFIG_TEE_DRIVER_DEBUG is not set
# CONFIG_FIVE_EARLY_LOAD_TRUSTED_APP is not set

# Integrity Check Driver (ICD)
CONFIG_ICD=n
# CONFIG_ICD_USE_TZDEV is not set
CONFIG_INTEGRITY=y
CONFIG_INTEGRITY_SIGNATURE=y
CONFIG_INTEGRITY_ASYMMETRIC_KEYS=y

# Sensitive Data Protection (SDP)
CONFIG_FSCRYPT_SDP=y
CONFIG_SDP=y
