config ISDBT
	bool "isdbt"
	default n

choice
	depends on ISDBT
	prompt "isdbt driver"
	default ISDBT_FC8300_SPI

	config ISDBT_FC83X7_SPI
		bool "ISDBT_FC83X7_SPI"

	config ISDBT_FC8350_SPI
		bool "ISDBT_FC8350_SPI"

	config ISDBT_FC8300_SPI
		bool "ISDBT_FC8300_SPI"

	config ISDBT_FC8180_SPI
		bool "ISDBT_FC8180_SPI"

endchoice

config ISDBT_F_TYPE_ANTENNA
	bool "isdbt F type antenna"
	default n

config ISDBT_GPIO_CLK
	bool "ext isdbt clk cannot controled by clk_prepare"
	default n

config SEC_ISDBT_FORCE_OFF
	bool "release isdbt resource during warmreset"
	default n